.widget{
   display: flex;
   flex:1;
   justify-content: space-between;
   -webkit-box-shadow: -2px -5px 18px -8px #000000; 
    box-shadow: -2px -5px 18px -8px #000000; 
    padding:10px;
    border-radius: 10px;
    height: 100px;
    background: linear-gradient(to left, #0b486b4f, #00205008);

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color:darkgrey
        }

        .counter{
            font-size: 20px;
            font-weight: 300;
        }


        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }

            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            -webkit-border-radius: 25px;
            -webkit-border-top-left-radius: 250px;
            -webkit-border-bottom-right-radius: 250px;
            -moz-border-radius: 25px;
            -moz-border-radius-topleft: 250px;
            -moz-border-radius-bottomright: 250px;
            border-radius: 25px;
            border-top-left-radius: 250px;
            border-bottom-right-radius: 250px;
            align-self: flex-end;
        }
    }
}